Source: haskell-mime
Priority: optional
Section: misc
Maintainer: Jeremy Shaw <jeremy@seereason.com>
Build-Depends: debhelper (>= 5.0),
               haskell-devscripts, hscolour,
               ghc6 (>= 6.10),
               ghc6-doc,
               haddock,
               ghc6-prof,
               libghc6-time-prof,
               libghc6-time-doc,
               libghc6-parsec3-dev,
               libghc6-parsec3-prof,
               libghc6-parsec3-doc
Standards-Version: 3.7.2.2
Homepage: http://www.n-heptane.com/nhlab

Package: libghc6-mime-dev
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A library for processing MIME messages
  .
  This package contains the normal library files.

Package: libghc6-mime-prof
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A library for processing MIME messages
  .
  This package contains the libraries compiled with profiling enabled.

Package: libghc6-mime-doc
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A library for processing MIME messages
  .
  This package contains the documentation files.
